[submodule "public"]
	path = public
	url = git@github.com:ssudake21/ssudake21.github.io.git
	branch = master
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
