[submodule "themes/coder-portfolio"]
	path = themes/coder-portfolio
	url = https://github.com/naro143/hugo-coder-portfolio.git
[submodule "public"]
	path = public
	url = git@github.com:sanketsudake/sanketsudake.github.io.git