{{ define "main" }}
  <header>
    <h1 class="mt-0 text-4xl font-extrabold text-neutral-900 dark:text-neutral">{{ .Title }}</h1>
    {{ with .Content }}
      <section class="prose mt-4 dark:prose-invert">{{ . | emojify }}</section>
    {{ end }}
  </header>

  {{ $allPages := .Pages.ByDate.Reverse }}
  {{ if $allPages }}
    {{ range $allPages.GroupByDate "2006" }}
      <section class="talks-year-group">
        <h2 class="talks-year-heading">{{ .Key }}</h2>
        <ul class="talks-list">
          {{ range .Pages }}
            {{ $talk := . }}
            <li class="talks-item">
              <time class="talks-item__date" datetime="{{ .Date.Format "2006-01-02" }}">
                {{ .Date.Format "Jan 2" }}
              </time>
              <div class="talks-item__content">
                <h3 class="talks-item__title">
                  <a href="{{ .Permalink }}">{{ .Title | emojify }}</a>
                </h3>
                {{ with .Params.event }}
                  <p class="talks-item__event">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="talks-item__icon">
                      <path fill-rule="evenodd" d="m5.75 2a.75.75 0 0 1 .75.75V4h7V2.75a.75.75 0 0 1 1.5 0V4h.25A2.75 2.75 0 0 1 18 6.75v8.5A2.75 2.75 0 0 1 15.25 18H4.75A2.75 2.75 0 0 1 2 15.25v-8.5A2.75 2.75 0 0 1 4.75 4H5V2.75A.75.75 0 0 1 5.75 2Zm-1 5.5c-.69 0-1.25.56-1.25 1.25v6.5c0 .69.56 1.25 1.25 1.25h10.5c.69 0 1.25-.56 1.25-1.25v-6.5c0-.69-.56-1.25-1.25-1.25H4.75Z" clip-rule="evenodd" />
                    </svg>
                    {{ . }}
                  </p>
                {{ end }}
                <p class="talks-item__summary">{{ $talk.Summary | emojify }}</p>
              </div>
              {{ with .Params.gallery }}
                {{ $first := index . 0 }}
                {{ $img := $talk.Resources.GetMatch $first }}
                {{ if $img }}
                  {{ $thumb := $img.Fill "160x120 smart" }}
                  <a href="{{ $talk.Permalink }}" class="talks-item__thumb-link">
                    <img class="talks-item__thumb" src="{{ $thumb.Permalink }}" alt="{{ $talk.Title }}" loading="lazy" />
                  </a>
                {{ end }}
              {{ end }}
            </li>
          {{ end }}
        </ul>
      </section>
    {{ end }}
  {{ else }}
    <section class="prose mt-10 dark:prose-invert">
      <p class="py-8"><em>No talks yet.</em></p>
    </section>
  {{ end }}
{{ end }}
